.remove-btn {
  margin-right: 0.5rem;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

button {
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  padding: 5px;
}

button:hover {
  background-color: coral;
}
